
<p>An invoice, bill or tab is a commercial document issued by a seller toggle
     a buyer relating to a sale transaction and indicating the products, quantities, and agreed-upon prices for products or services the seller had provided the buyer. 
    Payment terms are usually stated on the invoice.</p>

    <p>An invoice is an itemized statement of the money that's owed for goods or services. If you buy books online, they will usually arrive with an invoice telling what books you bought and how much they cost.

        Invoice comes from the French verb envoyer, which means to send, and "send" is a verb often used with the noun invoice, like when the online bookstore sends you an invoice. The same sense occurs when you use invoice as a verb. If you tell someone to invoice you for work they've done, you're asking them to send you a bill.
        
        </p>